/* Fira Sans Thin */
@font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Thin.eot');
    src: url('fonts/fira/eot/FiraSans-Thin.eot') format('embedded-opentype'),       
         url('fonts/fira/woff2/FiraSans-Thin.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-Thin.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-ThinItalic.eot');
    src: url('fonts/fira/eot/FiraSans-ThinItalic.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-ThinItalic.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-ThinItalic.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
  }
  
  /* Fira Sans Light */
  @font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-Light.eot');
    src: url('fonts/fira/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-Light.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-Light.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Fira Sans";
    src: url('fonts/fira/eot/FiraSans-LightItalic.eot');
    src: url('fonts/fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('fonts/fira/woff2/FiraSans-LightItalic.woff2') format('woff2'),
         url('fonts/fira/woff/FiraSans-LightItalic.woff') format('woff'),
         url('fonts/fira/woff2/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
      }
  
  /* Fira Sans regular */
  @font-face {
      font-family: "Fira Sans";
      src: url('fonts/fira/eot/FiraSans-Regular.eot');
      src: url('fonts/fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
           url('fonts/fira/woff2/FiraSans-Regular.woff2') format('woff2'),
           url('fonts/fira/woff/FiraSans-Regular.woff') format('woff'),
           url('fonts/fira/woff2/FiraSans-Regular.ttf') format('truetype');
           font-weight: normal;
           font-style: normal;
  }
  
  /* Fira Sans italic */
  @font-face {
      font-family: "Fira Sans";
      src: url('fonts/fira/eot/FiraSans-Italic.eot');
      src: url('fonts/fira/eot/FiraSans-Italic.eot') format('embedded-opentype'),
           url('fonts/fira/woff2/FiraSans-Italic.woff2') format('woff2'),
           url('fonts/fira/woff/FiraSans-Italic.woff2')  format('woff'),
           url('fonts/fira/woff2/FiraSans-Italic.woff2') format('truetype');
      font-weight: normal;
      font-style: italic;
  }
  
  /* Fira Sans bold */
  @font-face{
      font-family: "Fira Sans";
      src: url('fonts/fira/eot/FiraSans-Bold.eot');
      src: url('fonts/fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
           url('fonts/fira/woff/FiraSans-Bold.woff') format('woff'),
           url('fonts/fira/woff2/FiraSans-Bold.woff2') format('woff2'),
           url('fonts/fira/woff2/FiraSans-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  /* Fira Sans bold italic */
  @font-face {
      font-family: "Fira Sans";
      src: url('fonts/fira/eot/FiraSans-BoldItalic.eot');
      src: url('fonts/fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
           url('fonts/fira/woff2/FiraSans-BoldItalic.woff2') format('woff2'),
           url('fonts/fira/woff/FiraSans-BoldItalic.woff') format('woff'),
           url('fonts/fira/woff2/FiraSans-BoldItalic.ttf') format('truetype');
      font-weight: 700;
      font-style: italic;
  }


/*******************************************FONTS********************************************************/

body{
    margin: 0;
    font-family: "Fira Sans";
}
header{
    padding: 20px 100px 90px;
    background-color: #1F2937;
}

.section-1 .container{
    margin-bottom: 80px;
    display: flex;
    color: #F9FAF8;
    align-items: center;
}

.section-1 img{
    width: 600px;
}

ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.section-1 .container div{
    flex: 1;
    font-size: 24px;
    font-weight: bold;
}

.heading{
    display: flex;
    align-items: flex-start;
}

.heading h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    width: 350px;
    margin: 0px;
    margin-top: 20px;
}

.heading .txt{
    color: #E5E7EB;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-weight: bold;
}

.section-1 button{
    background-color: #3882F6;
    border-radius: 5px;
    border-width: 0px;
    border-style: none;
    padding: 7px 30px;
    margin-top: 15px;
}

/*******************************************Section-2*******************************************************/

.section-2{
    padding: 50px 100px;
}

.section-2 h1{
    padding-bottom: 50px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.img-txt-grp{
    gap: 10px;
    display: flex;
}

.section-2 img{
    width: 270px;
}

.section-2 .img-txt-grp .txt{
    text-align: center;
}

.section-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*********************************************Section-3******************************************************/

.section-3{
    padding: 100px 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.section-3 h1{
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
    width: 800px;
    margin-bottom: auto;
}

.section-3 p{
    margin-left: auto;
    color: #1F2937;
    font-weight: bold;
}

/********************************************Section-4********************************************************/

.section-4{ 
    margin: 100px auto;
    display: flex;
    justify-content: center;
    background-color: #3882F6;
    padding: 25px 60px;
    border-radius: 5px;
    gap: 15px;
    width: 550px;
}

.section-4 .heading{
    color: #F9FAF8;
    font-weight: bold;
}

.section-4 .subtext{
    color: #F9FAF8;
}

.section-4 button{
    border-radius: 5px;
    border-width: 2px;
    background-color: #3882F6;
    border-style: solid;
    border-color: #F9FAF8;
    width: 100px;
    height: 30px;
    align-self: center;
}

.section-4 .container{
    flex-shrink: 0;
}

/******************************************Section-5*********************************************************/

.section-5{
    text-align: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 47px 100px;
}